* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  background-color: azure;
  width: 70%;
  display: flex;
  justify-content: space-around;

}