
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format(truetype);
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Open Sans';
}

body a {
  text-decoration: none;
  text-align: center;
}


.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  flex-wrap: wrap;
  margin-bottom: 30px;
  align-items: center;
}

.item:last-child {
  margin: 0;
}

.item:first-child {
  background-color: black;
}



.content {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.content h2 {
  font-weight: 700;
  width: 100%;
  padding: 0px 0px 15px 0px;
  
}




.form button {
  background-color: white;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  border: thin solid grey;

}

.form button:hover {
  background-color: black;
  color:white;
}




.form input::file-selector-button {
  background-color: white;
  padding: 10px;
  border: thin solid grey;
  border-radius: 3px;
}

.form input::file-selector-button:hover {
  background-color: black;
  color:white;
}




.exam-table {
  border-collapse: collapse;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: lightgray 0px 0px 10px 0px;

}

.form label {
  display:none;
}

.exam-table thead {
  background-color: black;
  color: azure;
  
}

.exam-table th {
  padding: 20px;
  font-size: 10pt;
}

.exam-table tr {
  display: table-row;

}

.exam-table tbody tr:nth-child(even) {
  background-color: lightgrey;
}

.exam-table tbody tr:nth-child(odd) {
  background-color: white;
}

.exam-table td a {
  text-decoration: none;
  text-align: center;
}

.exam-table td a:hover {
  color: darkmagenta;
  text-decoration: none;
  text-align: center;
}



.exam-table td {
  padding: 20px;
  font-size: 10pt;
}



.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;

}

.nav li a.active {
  background-color: blueviolet;
  color: white;
}

.nav li a:hover {
  background-color: black;
  text-decoration: none;
  color:white;
}

.nav li a {
  display: inline-block;
  width: 40px;
  padding:10px;
  color: grey;
  text-decoration: none;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: black;
  height: 200px;
  padding: 0;
  box-sizing: initial;
  position: relative;
}

.search {
  display: none;
  position: absolute;
  width: 350px;
  background-color: white;
  padding: 10px;
  border: thin solid grey;
  border-radius: 3px;
  font-size: small;

} 

.search a {
  color: black;
}

.search a:hover {
  color: lightgrey;
}


.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: black;
}

.header h1 a{
  color: white

}

.header h1 a:hover {
  color:blueviolet;
  
}

.header input {
  padding: 10px;
  border: thin solid grey;
  border-radius: 3px;
  width: 350px;
}

.header button {
  padding: 10px;
  border: thin solid grey;
  border-radius: 3px;
}

.header button:hover {
  background-color: black;
  color: white;
}

.search-wrapper {
  position: relative;
}
