
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format(truetype);
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: black;
  font-family: 'Open Sans';
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  background-color: azure;
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 20px;

}

.exam-table {
  border-collapse: collapse;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: lightgray 0px 0px 10px 0px;
}

.exam-table thead {
  background-color: black;
  color: azure;
  
}

.exam-table th {
  padding: 20px;
  font-size: 10pt;
}

.exam-table tr {
  display: table-row;

}

.exam-table tbody tr:nth-child(even) {
  background-color: lightgrey;
}

.exam-table tbody tr:nth-child(odd) {
  background-color: white;
}



.exam-table td {
  padding: 20px;
  font-size: 10pt;
}



.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.nav li a.active {
  background-color: blueviolet;
  color: white;
}
.nav li a:hover {
  background-color: black;
  text-decoration: none;
  color:white;
}



.nav li a {
  
  display: inline-block;
  width: 40px;
  padding:10px;
  color: grey;
  text-decoration: none;
  text-align: center;
  
}

